@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-brand-500: #1a202c; /* Example of a dark premium color */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-zinc-50 text-zinc-900 antialiased;
  }
}